.img-responsive:hover{
    transition: all 0.5s;
    filter: brightness(30%)
}

.img-container{
    position:relative;
    display:inline-block;
}

div span{
    position:absolute;
    top:90%;
    left:35%;
    transform:translate(-50%,-50%);
    color: #000;
}


@media (max-width: 800px)
{
  .img-container
   {
    display: none;
   }

}