@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#menu-h{
    background-color: rgb(37, 37, 39);
    width: 100px;
    float: left;
    height: 100%;
    position: fixed;
}

#menu-h ul {
    position: relative;
    list-style: none;
    padding: 0;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: #FFF;
    padding: 0px;
    padding-left: 5px;
    padding-bottom: 32px;
    padding-top: 20px;
    display: grid;
    text-decoration: none;
    transition: background .4s;
    position: relative;
    top: 0px;
    
}

#menu-h ul li a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.topimg{
    position: relative;
    bottom: 220px;
    
}

body{
    position: relative;
    margin: 0;
    font-family: 'Gill Sans';
}

header{
    background-color: aqua;
    width: 100%;
    height: 11vw;
    border: 0;
    background-image: url(starwars.jpg);
    background-size:100%;
    

}

.perfil{
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 150px;
    left: 800px;
    width: 400px;
    height: 470px;
    border: solid 40px white;
    background-image: url(1edit.jpg);
}

.conteiner{
    position: relative;
    width: 94.6%;
    left: 51px;
    display: block;
}

.conteudo{
    background-color: rgb(255, 255, 255);
    margin-top: 500px;
}

.conteudo h1, p{
    margin-left: 10%;
    margin-right: 400px;
}

ol{
    margin-top: 60px;
    margin-left: 16%;
    font-family: Georgia;
    font-size: 2vw;
}

h1{
    font-family:'Gill Sans';
    font-size: 6vw;
    color: #F2360C;
}

p{
    font-family: Georgia;
    font-size: 2vw;
}

.bonito{
    background-color: rgb(255, 255, 255);
    margin-top: 100px;
    width: 80%;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

img{
    padding: 20px;
    width: 330px;
    height: 200px;
}

.final{
    text-align: right;
    font-size: 1vw;
}

